<h2>Posiłek: {{ meal.name }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Składniki: </h2>
{% for component in meal.components.all %}
    <ul>
        <li>{{ component.name }}</li>
    </ul>
{% endfor %}
<h2>Cena: {{ meal.price }}</h2>
<h2>Rodzaj posiłku: {{ meal.meal_type }}</h2>
<a href="{% url 'order:order_summary'  %}" class="btn btn warning">
    Go to cart
</a>

<form action="{% url 'order:add_to_cart' meal.id %}" method="post">
    {% csrf_token %}
    {{ form }}
</form>

<a href="{% url 'order:add_to_cart' meal.id %}" class="btn btn warning">
    Add to cart
</a>
